h1{
  color:gray;
  font-size: 48px;
}

body{
  cursor: grabbing;
  background-color: #2f7037;
}

p{
  color:black;
}

a{
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
  color:black;
}

a:hover{
  color:#fcba03;
}


#not{
  position: fixed;
  left: 360;
  font-size: 70px;
  top: 200;
}

/* The alert message box */
.alert {
  padding: 100px;
  background-color: black; /* Red */
  color: #fcba03;
  position: fixed;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: #fcba03;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

#enough{
  position: fixed;
  left:530;
  top:250;
  width: 27vw;
  font-size: 55;

}
