h1{
  color:	#696969;
  font-size: 48px;
  position: fixed;
}

body{
  background-color: black;
  cursor: grab;
}

p{
    color: white;
    position: absolute;
    font-size: 40px;
    top: 750;
    right: 650;
  }


  a{
    text-decoration: none;
    color:white;
    opacity: 1;
  }

  a:visited {
    color: white;
  }


img{
  position: absolute;
  left:260;
}

#out{
  position: absolute;
  top: 960;
  right: 50;
  font-size: 20px;
}

#move{
  position: absolute;
  top: 960;
  left: 300;
  font-size: 20px;
}
