h1{
  color:black;
  font-size: 48px;
}

body{
  background-color: yellow;
  cursor: grab;
}

p{
}

a{
  color:black
}

a:visited {
  color:black;
}


#stars{
  background-color: white;
  width: 30vw;
  opacity: 1.0;
  position: absolute;
}

#stars:hover{
  background-color:yellow;
  opacity: 0.0;
}

#move{
  position:absolute;
  top: 400px;
  right: 200px;
}

#know{
  background-color: white;
  width: 30vw;
  height: 2vw;
}
