h1{
  color:white;
  font-size: 48px;
}

body{
  background-image: url(nightsky.jpg);
  background-size: contain;
  cursor: grabbing;
}

p{
  position: fixed;
  bottom: 5px;
  right: 650px;
  color: white;
  font-size: 15px;

}

a{
  text-decoration: none;
  color:white;
  font-size: 26px;
  opacity: 0;
}

a:visited {
  color:white;
  opacity: 0;
}

a:hover{
  opacity: 1;
}

#dif{
  color:white;
  font-size: 20px;
  position: fixed;
  top: 555px;
  left:285px;
}

#here{
  color:white;
  font-size: 20px;
  position: fixed;
  top: 525px;
  right:275px;
}

#fix{
  color:white;
  font-size: 20px;
  position: fixed;
  top: 420px;
  left:620px;
}
