h1{
  color:gray;
  font-size: 48px;
}

body{
  cursor: grab;
}

p{
  color:gray;
}

a{
  text-decoration: none;
  color:white
}

a:visited {
  color:white;
}

#glitch{
  position: fixed;
  right:0;
  bottom:0;
  min-width: 100%;
  min-height: 100%;
}

#content{
  position: fixed;
  bottom: 300px;
  color: gray;
  width: 100%;
  font-size: 26px;
}

#memories{
  position: fixed;
  bottom: 275px;
  color: white;
  width: 100%;
  font-size: 26px;
}
