h1{
  color:black;
  font-size: 48px;
  background-color: white;
  position: absolute;

}

body{
  cursor: grabbing;
  background-color: yellow;
}

p{
  background: white;
  width: 40vw;
  font-size:30px;
}

a{
  background-color: white;
  text-decoration: none;
  font-size: 30px;
  color:black
}

a:visited {
  background-color: white;
  color:black;
}

#time{
  position: relative;
  left: 700;
}

#we{
  position: relative;
  right:100;
}

#tell{
  position: relative;
  left: 200;
}

#the{
  position: relative;
  left:200;
}

#our{
  position: relative;
  left: 700;
}
