h1{
  color:black;
  font-size: 48px;
  background-color: #fcba03;
}

body{
  cursor: grabbing;
  background-color: #fcba03;
}

p{
font-size: 50;

}

a{
  text-decoration: none;
  color:#fcba03;
}

a:visited {
  color:#fcba03;
}

a:hover{
  text-decoration: underline;
  color: black;
}

#moment{
  position: fixed;
  right: 50;
  top:500;
  color: black;
}

#the{
  position: fixed;
  left:50;
  top: 0;
  color: #fcba03;
}
