h1{
  font-size: 48px;
  position: fixed;
}

body{
  cursor: grabbing;
  background-image: url(orange.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

p{
  color:white;
    font-size: 20px;
    position: fixed;
    right:50;
    top:50;
  }

a{
  text-decoration: none;
  color:white;
  opacity: 1;
}

a:visited {
  color: white;
}

a:hover{
  color:yellow;
}
#ffa600
