h1{
  color:#fcba03;
  font-size: 48px;
}

body{
  font-size: 30px;
  cursor: grabbing;
  background-color: black;
}

a{
  text-decoration: none;
  color:#fcba03;
}

a:visited {
  text-decoration: none;
  color:#fcba03;
}

#plastic{
  position: fixed;
  top: 200;
  left: 350;
  width: 50vw;
  font-size: 50;
  color: #fcba03;
}

#block{
  color: #fcba03;
  width: 600;
  height: 170;
  background-color: black;
  opacity: 0;
  position: fixed;
  left: 400;
  top: 260;
  font-size: 50;
}

#block:hover{
  opacity: 1;
}
