h1{
  color:black;
  font-size: 48px;
}

body{
  background-color: yellow;
  cursor: grab;
  font-size: 26px;
}

p{
}

a{
  position: absolute;
  top: 500px;
  right: 400px;
  font-size: 13px;
  color:black
}

a:visited {
  color:black;
}

#stars{
  font-size: 20px;
}
