h1{
  color:black;
  font-size: 48px;
  background-color: white
}

body{
  cursor: grabbing;
}

p{
}

a{
  text-decoration: none;
  color:white;
}

a:visited {
  color:white;
}

#clouds{
  position: fixed;
  right:0;
  bottom:0;
  min-width: 100%;
  min-height: 100%;
}

#content{
  position: fixed;
  bottom: 300px;
  color: white;
  width: 100%;
  font-size: 38px;
}

#lost{
  position: fixed;
  top: 350px;
  right:200px;
  color: white;
  width: 100%;
  font-size: 13px;
  color:white
}

#wake{
  position: fixed;
  bottom: 300px;
  left:200px;
  color: white;
  width: 100%;
  font-size: 13px;
  color:white
}

#explore{
  opacity: .05;
  position: fixed;
  left: 500;
  bottom: 100;
  color: white;
}

#explore:hover{
  opacity: 1;
  color: white;
}
