h1{
  color:black;
  font-size: 48px;
  background-color: #fcba03
}

body{
  cursor: grabbing;
  background-image: url(yarrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcba03;
}

p{
color: #fcba03;
font-size: 30;
background-color: black;
}

a{
  text-decoration: none;
  color:#fcba03;
}

a:visited {
  color:#fcba03;
}

a:hover{
  text-decoration: underline;
}

#moment{
  position: fixed;
  left: 500;
  top:300;
}

#the{
  position: fixed;
  left:600;
  top: 200;
}
