h1{
  color:black;
  font-size: 48px;
}

body{
  background-color: yellow;
  cursor: grabbing;
  font-size: 26px;
}

button{
  width: 103;
  height: 40;
}

p{
  position:fixed;
  top: 320;
  left: 500;
}

a{
  text-decoration: none;
  position: absolute;
  top: 497px;
  right: 302px;
  border-style: outset;
  color: gray;
}

a:visited {
  color: gray;
}


#stars{
  position: fixed;
  left: 350;
  top: 150;

}
